<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-7495977536865069~4734364300</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>訪問した場所の位置情報を記録するために使用します。</string>
</dict>
</plist>
